<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity
            android:name=".chosencategory"
            android:exported="false" />
        <activity
            android:name=".choosecategorygreek"
            android:exported="false" />
        <activity
            android:name=".choosecategoryasian"
            android:exported="false" />
        <activity
            android:name=".OrderAccepted"
            android:exported="false" />
        <activity
            android:name=".DecidePayment"
            android:exported="false" />
        <activity
            android:name=".Chooseplace2"
            android:exported="false" />
        <activity
            android:name=".Chosenshop"
            android:exported="false" />
        <activity
            android:name=".Searchrestaurant"
            android:exported="false" />
        <activity
            android:name=".Wrongcode"
            android:exported="false" />
        <activity
            android:name=".Peoplejoin"
            android:exported="false" />
        <activity
            android:name=".EnterAddress"
            android:exported="false" />
        <activity
            android:name=".AddNewAddress"
            android:exported="false" />
        <activity
            android:name=".EditAddress"
            android:exported="false" />
        <activity
            android:name=".Findaddress"
            android:exported="false" />
        <activity
            android:name=".Nolikes"
            android:exported="false" />
        <activity
            android:name=".katastimata"
            android:exported="false" />
        <activity
            android:name=".newchoosecategory"
            android:exported="false" />
        <activity
            android:name=".Paraggelnwsolo"
            android:exported="false" />
        <activity
            android:name=".JoinRoom"
            android:exported="false" />
        <activity
            android:name=".CreateRoom"
            android:exported="false" />
        <activity
            android:name=".choosecategory"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".Matchfound"
            android:exported="false" />
        <activity
            android:name=".chooseplace"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>